$red:#b61f22;
$box: 960px;
$grey:#393836;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');

$roboto: 'Roboto', sans-serif;
$source: 'Source Sans Pro', sans-serif;
